html,body {
    margin:0;
    padding: 0;
}

.info {
    position: relative;
    margin: 20px auto;
    width: 800px;
}

.info .start-btn {
    float: right;
}

.map {
    margin: 50px auto;
    text-align: center;
    background-color: pink;
    position: relative;
}
